venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
*.vim
.hypothesis
setup.sh
test.py
.pylintrc
.vscode
test_2.py
report/svg-inkscape
report/main.aux
report/main.bbl
report/main.blg
report/main.fdb_latexmk
report/main.fls
report/main.log
report/main.out
report/main.pdf
report/main.synctex.gz
report/main.toc
report/_minted-main
